#grid-container {
    display: flex;
    flex-wrap: wrap; 
    width: 500px; 
    height: 500px; 
    margin: 50px auto; 
    border: 1px solid black;
}

.grid-square {
    width: 31.25px; /* Calculated 500 / 16squares */
    height: 31.25px;
    box-sizing: border-box;
    outline: 1px solid lightgray;
    background-color: white;

}
.grid-square:hover {
    /* background-color: black; Change color on hover for a "sketch" effect */
}